:root {
    --background-color: rgba(18, 144, 254);
    --box-shadow: 2px 5px 3px rgba(49, 146, 237, 0.7);
}


li {
    list-style: none;
    font-weight: bold;
    margin: 10px;
    gap: 10px;
}

figcaption {
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 768px) {
    img {
        height: 200px !important;
        width: 200px !important;
        margin-left: 30px;
    }

    figcaption {
        text-align: left;
        margin-left: 20px;
    }
}

.hero {
    background: rgb(42, 112, 238);
    background: linear-gradient(29deg, rgba(42, 112, 238, 1) 0%, rgba(0, 166, 240, 1) 51%, rgba(234, 253, 37, 1) 98%);
}

#city-box {
    color: antiquewhite;
    border-radius: 5px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}

#city-box p {
    color: antiquewhite;
}

.card {
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}

#saved-city li {
    font-size: 36px;
    color: antiquewhite;
    background-color: var(--background-color);
    border-radius: 10px;
    padding-left: 10px;
}

#saved-city li:hover {
    cursor: pointer;
}